@use 'variables';

.button {
  background-color: variables.$primary-color;
  padding: clamp(10px, 2vw, 13px);
  font-weight: 700;
  border: 2px solid variables.$primary-color;
  border-radius: 70px;
  font-family: variables.$main-font;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: white;
    color: variables.$primary-color;
  }
}

.glass-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: variables.$primary-color;
  font-size: 18px;
  cursor: pointer;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(8px) saturate(160%);
  -webkit-backdrop-filter: blur(8px) saturate(160%);
  border-radius: 999px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.18), inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 -1px 0 rgba(255, 255, 255, 0.15);


  @media (max-width: 425px) {
    font-size: 14px;
    width: 40px;
    height: 40px;
    bottom: 22px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.bottomLeft {
    position: fixed;
    z-index: 1000;
    left: 20px;
    bottom: 33px;
  }

  &.topRight {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
    transform: none;
  }

  &.bottomRight {
    position: fixed;
    z-index: 1000;
    bottom: 33px;
    right: 20px;
  }
}