@use 'variables';

.button {
  background-color: variables.$primary-color;
  padding: clamp(10px, 2vw, 13px);
  font-weight: 700;
  border: 2px solid variables.$primary-color;
  border-radius: 70px;
  font-family: variables.$main-font;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: white;
    color: variables.$primary-color;
  }
}