@use 'variables';

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 26px;
  transition: background-color 0.3s;
  border: 1px solid variables.$border-color;

  .fa-star {
    position: absolute;
    left: 2px;
    top: 50%;
    z-index: 5;
    color: variables.$border-color;
    font-size: .9rem;
    transform: translateY(-50%);
    transition: all .3s;
  }
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid variables.$border-color;
  transition: transform 0.3s;
}


/* Checked state */
input:checked+.slider {
  background-color: variables.$primary-color;
  /* iOS blue */

  .fa-star {
    left: 27px;
    z-index: 5;
    color: variables.$primary-color;
    font-weight: 700;
  }
}

input:checked+.slider::before {
  transform: translateX(24px);
}

/* Optional: focus styles */
input:focus+.slider {}