@use 'variables';
@import url("https://use.typekit.net/wyf5ryh.css");
@import '@fortawesome/fontawesome-free/css/all.css';

h1 {
    font-size: clamp(1.7rem, 4.2vw, 3rem);
    line-height: 1.1;
    color: variables.$secondary-color;
}

h2 {
    font-size: clamp(1.5rem, 4.2vw, 2.2rem);
    line-height: 1.1;
    color: variables.$secondary-color;
}

h3 {
    font-size: clamp(1.4rem, 4.2vw, 1.7rem);
    line-height: 1.1;
    color: variables.$secondary-color;
}

h4 {
    font-size: clamp(1.3rem, 4.2vw, 1.5rem);
    line-height: 1.1;
    color: variables.$secondary-color;
}

p, ul, ol {
    font-size: 1rem;
    line-height: 1.5;
    color: variables.$text-color;
}