@use 'variables';

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: variables.$focus-color !important;
    box-shadow: 0 0 0 2px rgba(variables.$focus-color, 0.6);
}

.form-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;

    label {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 1rem;
        color: variables.$text-color;
    }

    input,
    select,
    textarea,
    .upload-file {
        font-size: 1rem;
        font-family: variables.$main-font;
        padding: 10px;
        border: 1px solid #c1c1c1;
        border-radius: 3px;
        width: 100%;
        font-weight: 300;

        &:focus {}

        &.error {
            border: 1px solid variables.$error-color;
        }
    }

    textarea {
        min-height: 200px;
    }

    .upload-file {
        text-align: center;
        cursor: pointer;
    }
}

.form-actions {
    &__login {
        margin-bottom: 1rem;

        a {
            font-weight: 700;
            color: variables.$primary-color;
            text-decoration: none;
        }
    }
}

.checkbox-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    input {
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 5px;
        border: 2px solid variables.$bg-color;

        &:checked {
            background-color: variables.$secondary-color !important;
        }
    }
}

.ck.ck-editor {
    width: 100%;
}

.ck-editor__editable {
    min-height: 300px;
}
.ck.ck-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ck.ck-content ol {
  list-style-type: decimal;
  padding-left: 20px;
}