@use 'fonts';
@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$bg-color;
  color: variables.$text-color;
  font-family: variables.$main-font;
  scrollbar-width: none;
}

main {
  padding-bottom: 120px;

  @media (max-width: 425px) {
    padding-bottom: 100px;
  }
}

.message-error {
  color: variables.$error-color;
}

.container {
  max-width: 1580px;
  padding: 0px clamp(20px, 6vw, 140px);
  margin: 0px auto;
}

.space-top-md {
  padding-top: clamp(1rem, 3vw, 2rem);
}

.space-bottom-md {
  padding-bottom: clamp(1rem, 3vw, 2rem);
}

.space-bottom-lg {
  padding-bottom: clamp(2rem, 6vw, 4.5rem);
}

.message {
  &--success {
    background: rgba(variables.$success-color, 0.9);
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);
    color: white;
    font-weight: 400;
    padding: 15px;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    z-index: 100;
    font-size: .9rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.language-switcher {
  position: relative;
  list-style-type: none;
  z-index: 50;

  &__active {
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid variables.$border-color;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 25;
  }

  &__dropdown {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    position: absolute;
    z-index: 4;
    width: 200px;
    top: -1px;
    right: -1px;
    border-radius: 20px;
    border-top: none;
    gap: 10px;
    z-index: 20;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(8px) saturate(160%);
    -webkit-backdrop-filter: blur(8px) saturate(160%);
    border: none;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.18), inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 -1px 0 rgba(255, 255, 255, 0.15);


    a {
      text-decoration: none;
      color: variables.$text-color;
      font-weight: 200;
      font-size: 1.1rem;
      width: 100%;
      position: relative;

      &.active {
        font-weight: 400;

        &::after {
          z-index: -1;
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          margin-left: 5px;
          border-radius: 20px;
          background-color: variables.$success-color;
        }
      } 
    }

    span {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 200px;

      background-size: cover;
    }
  }

  &:hover {
    .language-switcher__dropdown {
      display: flex;
    }

    .language-switcher__active {
      box-shadow: none;
      background: none;
    }
  }
}

.open {
  background-color: #27ae60;
}

.openModerate {
  background-color: #e67e22;
}

.openBusy {
  background-color: #f39c12;
}

.openVeryBusy {
  background-color: #d35400;
}

.openSuperBusy {
  background-color: #c03b2b;
}

.closed {
  background-color: #6a9295;
}

.refurbishment {
  background-color: #86654a;
}

.down {
  background-color: #e74c3c;
  border-top: none !important;
}