@use 'fonts';
@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$bg-color;
  color: variables.$text-color;
  font-family: variables.$main-font;
  scrollbar-width: none;
}

main {
  padding-bottom: 120px;

   @media (max-width: 425px) {
    padding-bottom: 100px;
   }
}

.message-error {
  color: variables.$error-color;
}

.container {
  max-width: 1580px;
  padding: 0px clamp(20px, 6vw, 140px);
  margin: 0px auto;
}

.space-top-md {
  padding-top: clamp(1rem, 3vw, 2rem);
}

.space-bottom-md {
  padding-bottom: clamp(1rem, 3vw, 2rem);
}

.space-bottom-lg {
  padding-bottom: clamp(2rem, 6vw, 4.5rem);
}

.message {
  &--success {
        background: rgba(variables.$success-color, 0.9);
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);
    color: white;
    font-weight: 400;
    padding: 15px;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    z-index: 100;
    font-size: .9rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.language-switcher {
  position: relative;
  list-style-type: none;
  width: 100%;

  &__active {
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid variables.$border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius:  0 0 20px 20px;
    position: absolute;
    border: 1px solid variables.$border-color; 
    border-top: none;
    gap: 10px;
    z-index: 20;
    width: 100%;

    a {
      text-decoration: none;
      color: variables.$text-color;
      font-weight: 200;
      font-size: 1.1rem;
    }

    span {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 200px;
      
      background-size: cover;
    }
  }

  &:hover {
    .language-switcher__dropdown {
      display: flex;
    }

    .language-switcher__active {
      border-radius: 20px 20px 0 0;
      background-color: variables.$bg-color;
    }
  }
}