@use 'variables';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 10;
    background-color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        width: 70px;
    }

    .main_navigation {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: clamp(10px, 2vw, 20px);

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 40px;
                
                &:last-of-type {
                    padding: 0;
                    padding-right: 15px;
                    border-radius: 200px;
                    border: 2px solid variables.$bg-color;

                    a {
                        color: variables.$text-color;
                    }

                    &:not(:has(.profile_picture)) {
                        padding-left: 15px;
                    }
                }

                a {
                    transition: all .3s;
                    color: variables.$text-color;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    &:hover {
                        color: variables.$primary-color;
                    }
                }
            }
        }
    }

    .profile_picture {
        width: 40px;
        height: 40px;
        border-radius: 200px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}