@use 'variables';

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000035;
    border-radius: 200px;
    margin: 15px auto 0;
    max-width: 800px;
    overflow: hidden;
    width: 100%;
    
    >div {
        cursor: pointer;
        flex: 1 1;
        padding: 12px 10px;
        transition: all .3s;
        width: 50%;
        font-size: .9rem;
        align-items: center;
        display: flex;
        justify-content: center;

        &.active {
            background-color: variables.$primary-color;
            color: #fff;
        }

        &:not(:first-of-type) {
            border-left: 1px solid #000035;
        }
    }
}