// Colors
$primary-color: #47a83b;
$secondary-color: #334076;
$bg-color: #f2f2f2;
$error-color: #e74c3c;
$text-color: #2f2f2f;
$focus-color: #3498db;


// Font
$main-font: "Stack Sans Text", sans-serif;