// Colors
$primary-color: #000035;
$secondary-color: #000035;
$third-color: #ededed;
$bg-color: #F2F8FC;
$success-color: #27ae60;
$error-color: #e74c3c;
$text-color: #000035;
$focus-color: #3498db;
$border-color: #0606554a;

// Font
$main-font: 'effra', sans-serif;

// Radius
$border-radius: 10px;

// Box Shadow
$box-shadow: 0px 0px 19px -2px rgb(0, 0, 53, .1);