@use 'globals';
@use 'variables';

@use 'buttons';
@use 'header';
@use 'forms';
@use 'checkbox';

@use 'pages/register';
@use 'pages/dashboard';
@use 'pages/users';
@use 'pages/jobs';
@use 'pages/parks';