@use '../variables';

.favorites-page {

    .park_overview {
        width: 100%;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    &__empty {
        background-color: #ffffff;
        border-radius: variables.$border-radius;
        padding: 50px 30px;
        text-align: center;
        margin: auto 0;
        width: 100%;
        max-width: 500px;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1;
            width: 100%;
        }

        h2 {
            margin-bottom: 10px;
        }

        a {
            color: variables.$primary-color;
            text-decoration: underline;
            font-weight: 700;


            &:hover {}
        }
    }
}