@use '../variables';

.favorites-page {
    min-height: calc(100svh - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .park_overview {
        width: 100%;
    }

    &__empty {
        background-color: #ffffff;
        border-radius: variables.$border-radius;
        padding: 50px 30px;
        text-align: center;
        margin: auto 0;
        width: 100%;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1;
            width: 100%;
        }

        h2 {
            margin-bottom: 10px;
        }

        a {
            color: variables.$primary-color;
            text-decoration: underline;
            font-weight: 700;


            &:hover {}
        }
    }
}