@use '../variables';

#map {
    height: 80vh;
    width: 100%;
    border-radius: 0 0 20px 20px;
    border: 1px solid variables.$border-color;
    border-top: 0;

    .custom-marker {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .marker-attraction {
        line-height: .8;
        font-size: .7rem;

        &.down {
            font-size: 1rem;
            color: white;
        }

        &.closed {
            font-size: 1rem;
        }

        span {
            font-weight: 700;
            font-size: 1rem;
        }
    }

    .marker-show {
        background-color: variables.$primary-color;
        color: white;
        font-size: 1rem;
    }

    .marker-restaurant {
        font-size: 1rem;
        background-color: variables.$bg-color;
        border: 1px solid variables.$border-color;
    }
}

.maplibregl-popup {
    width: 100%;

    &-content {
        background-color: variables.$bg-color;
        border: 1px solid variables.$border-color;
        border-radius: variables.$border-radius;
        padding: 25px;
        max-width: 95vw;
        width: 100%;

        h4 {
            font-size: 1.3rem;
        }
        p {
            font-size: .9rem;
        }
    }


    &-close-button {
        color: variables.$primary-color;
        font-size: 1.5rem;
        right: 10px;
        top: 10px;
    }
}


.map-filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid variables.$border-color;
    border-bottom: 0;
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;

    @media screen and (max-width: 500px) {
        align-items: flex-start;
        justify-content: space-between;
    }

    >label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: .8rem;

        >span {
            margin-left: 5px;
        }
    }
}