@use '../variables';

.park {
    &_overview {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        &--title {
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 700;
            width: 100%;
        }
    }

    &_item {
        background: #ffffff;
        border-radius: variables.$border-radius;
        overflow: hidden;
        transition: all .3s ease;
        width: 100%;
        position: relative;

        &--favorite {
            position: absolute;
            right: 60px;
            top: 50%;
            transform: translateY(-50%);
            width: 38px;
            height: 38px;
            border-radius: 200px;
            z-index: 5;
            border: none;
            cursor: pointer;
            background-color: variables.$bg-color;

            @media screen and (max-width: 500px) {
                right: 10px;
            }

            &.active {
                color: variables.$success-color;
            }
        }

        &:hover {
            transform: scale(1.02);
            box-shadow: variables.$box-shadow;
        }

        >a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: variables.$primary-color;
            text-decoration: none;

            h4 {
                color: variables.$primary-color;
            }

            >i {
                padding: 10px;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 200px;
                background-color: variables.$bg-color;

                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }

        &--wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            width: 100%;
        }

        &--image {
            min-width: 90px;
            width: 90px;
            height: 90px;

            @media screen and (max-width: 500px) {
                min-width: 70px;
                width: 70px;
                height: 70px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--content {
            width: 100%;
            padding-right: 60px;

            h4 {
                color: #616368;
                font-size: 1rem;
                font-weight: 400;

                @media screen and (max-width: 500px) {
                    font-size: .9rem;
                }
            }
        }


    }

    &_detail {
        position: relative;

        .container {
            padding: 0 10px;
        }

        &--openinghours {
            position: absolute;
            left: 20px;
            top: 30px;
            height: 38px;
            z-index: 10;
            border-radius: 100px;
            background-color: #fff;
            padding: 10px;
            width: initial;
            font-size: .7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            i {
                font-size: 1rem;
            }
        }

        &--reload {
            position: fixed;
            cursor: pointer;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            margin-top: 0;
            padding: 5px 10px;
            border-radius: 0 0 15px 15px;
            z-index: 10;
            max-width: 90%;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            color: variables.$primary-color;
            background: rgba(#ffffff, 0.1);
            backdrop-filter: blur(12px) saturate(160%);
            -webkit-backdrop-filter: blur(12px) saturate(160%);
        }

        &--image {
            max-height: 50vh;
            overflow: hidden;
            width: 100%;
            position: relative;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }

        &--parkname {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: variables.$bg-color;
            padding: 15px 60px;
            min-width: 400px;
            text-align: center;
            max-width: 95%;
            font-size: clamp(1rem, 2.5vw, 1.3rem);
            font-weight: 700;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @media screen and (max-width: 500px) {
                width: 90%;
                min-width: initial;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 20px;
                height: 20px;
                background: transparent;
            }

            &::before {
                left: -20px;
                border-bottom-right-radius: 20px;
                box-shadow: 20px 20px 0 20px variables.$bg-color;
            }

            &::after {
                right: -20px;
                border-bottom-left-radius: 20px;
                box-shadow: -20px 20px 0 20px variables.$bg-color;
            }
        }
    }
}

.attractions {

    &_group {
        margin-top: 15px;

        h2 {
            font-size: .9rem;
            letter-spacing: 1px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }

    &_favorites-toggle {
        position: absolute;
        right: 15px;
        transform: translateY(10px);
    }

    &_item {
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        min-height: 90px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.01);
        }

        &--badges {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 5px;

            span {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                font-size: .9rem;
                padding-right: 10px;
                background-color: rgba($color: #ffffff, $alpha: .1);
                line-height: 1;

                i {
                    width: 30px;
                    height: 25px;
                    margin-right: 5px;
                    font-size: .8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid rgba($color: #ffffff, $alpha: .3);

                    &.fa-person-walking-arrow-right {
                        padding-left: 3px;
                    }
                }
            }
        }

        &--content {
            border-radius: 20px;
            padding: 20px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;


            h3 {
                font-size: 1.1rem;
                font-weight: 700;
                width: 100%;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    font-size: 1rem;
                }
            }

            p {
                font-size: .9rem;
                font-weight: 200;
                color: white;
            }
        }

        &--time {
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            font-family: effra, sans-serif;
            text-align: center;
            justify-content: center;
            text-transform: uppercase;
            width: 70px;
            position: relative;

            .single_rider {
                position: absolute;
                right: 0;
                top: 0;
            }

            p {
                color: white;
                margin: 0;
                line-height: 100%;

                &:first-child {
                    font-size: 1.5rem;
                    font-weight: 1000;

                }

                &.specialstate {
                    margin-top: 5px;
                    font-size: .8rem;
                }
            }
        }

        .open {
            background-color: #27ae60;
        }

        .openModerate {
            background-color: #e67e22;
        }

        .openBusy {
            background-color: #f39c12;
        }

        .openVeryBusy {
            background-color: #d35400;
        }

        .openSuperBusy {
            background-color: #c03b2b;
        }

        .closed {
            background-color: #95a5a6;
        }

        .down {
            background-color: #e74c3c;
            border-top: none !important;
        }
    }
}

.popup {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    position: relative;

    >div {
        margin-top: 10px;
    }

    h2 {
        font-size: 1.4rem;
        letter-spacing: 0;
        padding-right: 20px;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-weight: 200;
    }

    &_overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    &_close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        font-size: 2rem;
        cursor: pointer;
    }

    &_times {
        display: flex;
        gap: 10px;

        >div {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid variables.$border-color;
            background-color: variables.$bg-color;

            p {
                line-height: 1;

                &:first-of-type {
                    margin: 0;
                    line-height: 100%;
                    font-size: 2rem;
                    font-weight: 1000;
                }

                &:last-of-type {
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }

    &_return {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid variables.$border-color;
        background-color: variables.$bg-color;

        i {
            width: 25px;
            margin-right: 5px;
            padding-right: 10px;
            border-right: 1px solid variables.$border-color;
        }
    }
}

.shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.show_item {
    border: 1px solid variables.$border-color;
    border-radius: variables.$border-radius;
    overflow: hidden;
    width: calc(50% - 5px);


    @media screen and (max-width: 700px) {
        width: 100%;
    }

    h3 {
        padding: 20px;
        background-color: #fff;
        font-size: 1.2rem;
        border-bottom: 1px solid variables.$border-color;
    }

    &--times {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        gap: 5px;

        div {
            padding: 5px 15px;
            border-radius: 100px;
            border: 1px solid variables.$border-color;
            font-size: .9rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &.showtime-past {
                opacity: .3;
            }

            span {
                line-height: 1;
                padding-bottom: 2px;
                margin-left: 5px;
            }
        }
    }
}


#map {
    height: 80vh;
    width: 100%;
    border-radius: 8px;
}

.map-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    >label {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 120px;
        font-size: .8rem;

        >span {
            margin-left: 5px;
        }
    }
}

.openinghours {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: .8);
    padding: clamp(10px, 5vw, 40px);

    .loading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        .fa-spinner {
            font-size: 1.6rem;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

    }

    &_wrapper {
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 100px;
        background-color: variables.$bg-color;
        overflow: scroll;
    }

    &_list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        @media screen and (max-width: 900px) {
            gap: 10px;
        }
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_close {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        line-height: 1;
        width: 40px;
        height: 40px;
        border-radius: 200px;
        border: 1px solid variables.$border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    &_day {
        width: calc(50% - 10px);
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        @media screen and (max-width: 900px) {
            width: 100%;
        }

        @media screen and (max-width: 460px) {
            flex-direction: column;
            gap: 0;
        }

        &.is-today {
            .openinghours_day--header {
                position: relative;
                border: 1px solid variables.$success-color;
                color: variables.$success-color;
            }
        }

        &--status {
            position: absolute;
            left: 5px;
            top: 10px;
            right: 5px;
            text-align: center;
            text-transform: uppercase;
            font-size: .6rem;
            color: variables.$success-color;

            @media screen and (max-width: 460px) {
                display: none;
            }
        }

        &--header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70px;
            padding: 25px 0;
            border-radius: variables.$border-radius;
            border: variables.$border-color 1px solid;

            @media screen and (max-width: 460px) {
                border-radius: 20px 20px 0 0;
                width: 100%;
                flex-direction: row;
                gap: 5px;
                padding: 10px;

            }


            span {
                &:first-of-type {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            i {
                font-size: 1rem;
            }
        }

        &--entry {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 1;
            padding: 10px;
            background-color: #ffffff;
            border-radius: variables.$border-radius;
            border: variables.$border-color 1px solid;

            @media screen and (max-width: 460px) {
                border-radius: 0 0 20px 20px;
                border-top: 0 !important;
            }

            &-item {
                width: 100%;

                >p {
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media screen and (max-width: 350px) {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 0;

                        &:first-of-type {
                            margin-bottom: 5px;
                        }

                        span:first-of-type {
                            font-weight: 700;
                        }
                    }

                    .dots {
                        flex: 1 1;
                        height: 1px;
                        border-bottom: 2px dotted variables.$border-color;
                        opacity: .4;

                        @media screen and (max-width: 350px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}