@use '../variables';

.register,
.login {
    &-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 100px);
        padding: 20px;
    }

    &-form {
        background-color: white;
        max-width: 800px;
        width: 100%;
        border-radius: variables.$border-radius;
        padding: clamp(20px, 8vw, 80px);

        h1 {
            text-align: center;
            margin-bottom: 2rem;
        }

        button.button {
            width: 100%;
        }
    }
}